name: Deploy Hugo site to GitHub Pages

on:
  push:
    branches:
      - main  # 1. Đổi từ master thành main (vì repo của bạn đang dùng nhánh main)

permissions:
  contents: write  # Đổi thành write để có quyền đẩy code vào nhánh gh-pages
  pages: write
  id-token: write

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          submodules: false  # 2. Đổi thành false vì bạn đã biến theme thành folder thường

      - name: Setup Hugo
        uses: peaceiris/actions-hugo@v3 # Cập nhật lên v3 cho ổn định
        with:
          hugo-version: 'latest'
          extended: true

      - name: Build
        run: hugo --minify

      - name: Deploy
        uses: peaceiris/actions-gh-pages@v4
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./public
          publish_branch: gh-pages # Tách riêng file build ra nhánh này cho sạch